body {
  background-color: #d3d3d3;
}

header {
  padding: 8px 0;
  background-color: #813581;
  margin-bottom: 32px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

header h1 {
  margin: 0 0 8px 0;
  color: #fff;
  font-weight: bold;
  font-family: "Tektur", cursive;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

header h1:hover {
  text-shadow: 0 0 7px #df00df, 0 0 10px #df00df, 0 0 20px #fff;
}

div.logo-and-title {
  display: flex;
  align-items: center;
  gap: 18px;
  user-select: none;
}

.nav-pills .nav-link.active,
.btn-info {
  background-color: #530053;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-info {
  border: none;
  color: #fff;
  width: 100%;
}

.btn-info:hover {
  background-color: #360036;
  color: #fff;
}

.nav-link {
  margin-left: 16px;
  color: #fff;
  font-size: 20px;
  transition: 0.3s ease-in-out;
}

.nav-link:hover:not(.nav-link.active) {
  color: #310031;
  text-shadow: 0 0 7px #df00df, 0 0 10px #df00df, 0 0 20px #fff;
}

h2 {
  color: #530053;
}

/* CAROUSEL */

.carousel-item img {
  height: 300px;
}

/* SECTIONS */

section {
  margin-bottom: 32px;
}

/* CARDS */

#produtos h2 {
  margin-bottom: 16px;
}

.card img {
  height: 210px;
}
