body {
  background-color: #d3d3d3;
}

/* HEADER */

header,
footer {
  background-color: #813581;
}

header {
  padding: 8px 0;
  margin-bottom: 32px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
}

header h1 {
  margin: 0;
  font-weight: bold;
  font-family: "Tektur", cursive;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

header h1:hover,
.nav-link:hover:not(.nav-link.active) {
  text-shadow: 0 0 7px #df00df, 0 0 10px #df00df, 0 0 20px #fff;
}

div.logo-and-title {
  display: flex;
  align-items: center;
  gap: 26px;
}

div.logo-and-title-container,
.contact-item {
  user-select: none;
}

/* NAVBAR */

.navbar-nav .nav-link.active {
  color: #fff;
}

.nav-pills .nav-link.active,
.btn-info {
  background-color: #530053;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-info {
  border: none;
  width: 100%;
}

.btn.btn-info:hover,
.btn.btn-info:active {
  background-color: #360036;
}

.nav-link {
  margin-left: 16px;
  font-size: 20px;
  transition: 0.3s ease-in-out;
}

.nav-link:hover:not(.nav-link.active) {
  color: #310031;
}

/* CAROUSEL */

.carousel-item img {
  height: 300px;
}

/* CARDS */

#products h2 {
  margin-bottom: 16px;
}

.card img {
  height: 210px;
}

/* FOOTER */

footer {
  padding: 16px 0;
  text-align: center;
}

footer p {
  margin: 0;
  padding-top: 16px;
  border-top: 1px solid #3100313f;
}

.contact-items-container,
.contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-items-container {
  margin: 28px 0;
  gap: 28px;
}

.contact-item {
  gap: 8px;
}

/* GLOBALS */

section {
  margin-bottom: 32px;
}

h2 {
  color: #530053;
}

i {
  font-size: 28px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header h1,
a.nav-link,
a.contact-item,
.btn-info,
.btn-info:hover,
a.btn.btn-info:active,
footer h2,
footer p {
  color: #fff;
}

/* RESPONSIVE */

@media (min-width: 641px) and (max-width: 1023px) {
  .carousel-item img {
    width: 100%;
    object-fit: cover;
  }

  .logo-and-title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .navbar-toggler {
    background-color: #fff;
  }

  a.nav-link {
    margin: 16px 0 0 0;
    padding: 8px;
  }

  section h2 {
    margin: 16px 0;
  }

  .card {
    margin-bottom: 28px;
  }

  .card img {
    object-fit: cover;
  }
}

@media (max-width: 640px) {
  header {
    padding: 8px;
  }

  .logo-and-title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .navbar-toggler {
    background-color: #fff;
  }

  a.nav-link {
    margin: 16px 0 0 0;
    padding: 8px;
  }

  .card {
    margin-bottom: 28px;
  }

  .card img {
    object-fit: cover;
  }

  div.contact-items-container {
    flex-direction: column;
  }

  section h2 {
    margin: 28px 0 16px 0;
  }

  p:not(p.card-text, footer p) {
    text-align: justify;
    margin: 0;
  }

  .no-mb {
    margin: 0;
  }
}
