body {
  background-color: #d3d3d3;
}

/* HEADER */

header {
  padding: 8px 0;
  background-color: #813581;
  margin-bottom: 32px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

header h1 {
  margin: 0;
  color: #fff;
  font-weight: bold;
  font-family: "Tektur", cursive;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

header h1:hover {
  text-shadow: 0 0 7px #df00df, 0 0 10px #df00df, 0 0 20px #fff;
}

div.logo-and-title {
  display: flex;
  align-items: center;
  gap: 26px;
  user-select: none;
}

/* NAVBAR */

.nav-pills .nav-link.active,
.btn-info {
  background-color: #530053;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-info {
  border: none;
  color: #fff;
  width: 100%;
}

.btn.btn-info:hover {
  background-color: #360036;
  color: #fff;
}

.btn.btn-info:active {
  background-color: #360036;
}

.nav-link {
  margin-left: 16px;
  color: #fff;
  font-size: 20px;
  transition: 0.3s ease-in-out;
}

.nav-link:hover:not(.nav-link.active) {
  color: #310031;
  text-shadow: 0 0 7px #df00df, 0 0 10px #df00df, 0 0 20px #fff;
}

/* CAROUSEL */

.carousel-item img {
  height: 300px;
}

/* CARDS */

#produtos h2 {
  margin-bottom: 16px;
}

.card img {
  height: 210px;
}

/* FOOTER */

footer {
  background-color: #813581;
  padding: 16px 0;
  text-align: center;
}

footer h2 {
  color: #fff;
}

footer p {
  margin: 0;
  color: #fff;
  padding-top: 16px;
  border-top: 1px solid #3100313f;
}

.contact-items-container,
.contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-items-container {
  margin: 28px 0;
  gap: 28px;
}

.contact-item {
  gap: 8px;
  user-select: none;
}

/* GLOBALS */

section {
  margin-bottom: 32px;
}

h2 {
  color: #530053;
}

i {
  font-size: 28px;
  color: #fff;
}


a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

a.nav-link:visited {
  color: #fff;
}
